:root {
  --background-color: #f4fff8;
  --bright-color: #fff;
  --main-color: #1c3738;
  --main-color-rgb: 28, 55, 56;
  --secondary-color: #8baaad;
  --text-color: #4d4847;

  --font-family-headings: 'Bree Serif', Helvetica, Arial, sans-serif;
  --font-family-text: 'Fira Sans', Helvetica, Arial, sans-serif;

  --font-size-logo: 26px;
  --font-size-heading: 20px;
  --font-size-default: 14px;

  font-family: var(--font-family-text);
  font-size: var(--font-size-default);
  line-height: 1.2em;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
